<!DOCTYPE html>
<html>
<body>
    <h1>Notes on notes</h1>
    <ul>
        {% for note in notes %}
            <h3>Title: {{note.title}}:</h3>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;Description: {{note.description}}</p>
            <form method="POST">
                {% csrf_token %}
                <input type="hidden" name="_method" value="DELETE">
                <input type="hidden" name="note_id" value="{{ note.id }}">
                <button type="submit" style="background: red;" id="delete">DELETE</button>
            </form>
        {% empty %}
            <li>No notes available</li>
        {% endfor %}
    </ul>
    <a href="{% url 'createNote' %}">click here to add a note bih</a>
</body>
</html>
