@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
.App {
  text-align: center;
}

.App-logo {
  height: 45vmin;
  pointer-events: none;
  animation: dropDown 1s ease-out;
}

.Landing-page {
  background-color: #afdcd5;
  min-height: 100%;
  min-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  height: 100vh;
  margin: 0;
  padding-bottom:5vh;
  font-family: 'Montserrat', sans-serif;
}

.Login-button{ 
  background-color: #133d3b ;
  border-radius: 25px;
  font-weight: bold;
  font-size: 25px;
  font-family: monospace;
  color:  #f3eddf;
  padding: 20px;
  margin-left: 10px;
  text-align: center;
  cursor: pointer;
  border: none;
  width:25%;
  transition: background-color 0.3s ease-in-out, transform 0.3s ease;
  box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.4);
  font-family: 'Montserrat', sans-serif;
}
.Login-button:hover{ 
  background-color: #216661;
  box-shadow: 4px 6px 10px rgba(0, 0, 0, 0.6);
  transform: scale(1.05);
}

@keyframes dropDown {
  from {
    transform: translateY(-100px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}



