.hours-body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  background-color: #133d3b;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.hours-page-container {
  display: flex;
  height: 100vh;
}

.hours-container {
  padding: 12px;
  margin: 0 auto;
  background-color: #afdcd5;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  flex: 1;
  overflow-y: auto;
}

.hours-header {
  display: flex;
  align-items: center;
  height: clamp(4rem, 5dvh, 1rem);

  justify-content: center;
  padding: 20px;
  
  border-radius: 8px 8px 0 0;
  background-color: #133d3b;
  color: white;
  width: 75%;
  margin: 0 auto;
}

.hours-header h2 {
  font-size: clamp(1.5rem, 2vw, 1.1rem);
  color: #fff;
  font-weight: bold;
}

.status-box {
  background-color: #e6f7f9;
  padding: 12px;
  border-radius: 6px;
  margin-bottom: 16px;
}

.status-box h3 {
  font-size: 1.25rem;
  font-weight: 600;
}

.form-section {
  padding: 20px;
  background-color: #ffffff;
  border-radius: 0px 0px 8px 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 75%;
  margin: 0 auto;
}

.form-header {
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 12px;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 12px;
  margin-bottom: 12px;
}

.input-group {
  display: flex;
  flex-direction: column;
  padding: 8px; 
}

.input-group label {
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 6px;
  font-size: 0.875rem;
  font-weight: 500;
}

.input-group select,
.input-group input,
.input-group textarea {
  width: 100%;
  padding: 6px;
  border-radius: 4px;
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  font-size: 0.875rem;
  font-family: 'Montserrat', sans-serif;
}

.input-group select:focus,
.input-group input:focus,
.input-group textarea:focus {
  outline: none;
  border-color: #3b82f6;
  box-shadow: 0 0 0 2px rgba(59, 130, 246, 0.2);
}

.button-group {
  display: flex;
  justify-content: flex-end;
  gap: 8px;
}

.button {
  padding: 10px 20px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease-in-out, transform 0.3s ease, box-shadow 0.3s ease;
}

.button:hover { 
  background-color: #216661;
  box-shadow: 4px 6px 12px rgba(0, 0, 0, 0.2);
  transform: scale(1.05);
}

.button.cancel {
  background-color: #e5e7eb;
  color: #333;
}

.button.add {
  background-color: #216661;
  color: #fff;
}


.recent-entries {
  margin: 20px auto;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 75%;
}

.recent-entries h3 {
  margin-bottom: 15px;
  font-size: 24px;
  font-weight: bold;
  color: #333;
}

.entries-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 15px;
}

.entry-card {
  background-color: #f9f9f9;
  border-radius: 8px;
  padding: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
}

.entry-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.entry-header {
  font-size: 18px;
  font-weight: bold;
  color: #133d3b;
  margin-bottom: 10px;
}

.entry-details p {
  margin: 5px 0;
  color: #555;
}

.entry-details strong {
  color: #133d3b;
}


@media (max-width: 767px) {

  .grid {
      display: flex;
      flex-direction: column;
      gap: 12px;
      margin-bottom: 12px;
    }

    .form-header {
      font-size: 1.25rem;
      font-weight: 600;
      margin-bottom: 12px;
      text-align: center;
      margin-top: 0px;
    }

    .hours-header h2 {
      font-size: 20px;
    }

    .hours-header {
      height: 30px;
    }

    /* button sec */

    .button-group {
      display: flex;
      flex-direction: column;
      justify-content: center;
      /* gap: 8px; */
      margin-top: 8px;
    }
    
    .button {
      padding: 6px;
      border-radius: 4px;
      border: none;
      font-size: 1.2rem;
      width: 100%;
      margin: 4px auto;
    }
    
    .button.cancel {
      background-color: #e5e7eb;
      color: #333;
    }

    .button.cancel:hover {
      transform: none;
      box-shadow: none;
    }
    
    .button.add {
      background-color: #216661;
      color: #fff;
    }

    .button.add:hover {
      transform: none;
      box-shadow: none;
    }

    /* entry card sec */

    .entry-card {
      transition: none;
      box-shadow: none;
    }

    .entry-card:hover {
      transform: none;
      box-shadow: none;
    }

    .recent-entries h3 {
      margin-top: 0px;
    }
  
}



