.body{ 
  background-color: #afdcd5;
  min-height: 100%;
  min-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

.landing-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.landing-header {
  color: #133d3b ;
  padding: 20px;
  width: 100%;
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.button-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin: 40px 0;
}

.image-button {
  background-color: #133d3b ;
  border-radius: 25px;
  font-weight: bold;
  font-size: 25px;
  font-family: monospace;
  color:  #f3eddf;
  padding: 20px;
  margin-left: 10px;
  text-align: center;
  cursor: pointer;
  border: none;
  transition: background-color 0.3s ease-in-out, transform 0.3s ease;
  box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.4);
  font-family: 'Montserrat', sans-serif;
  width: 250px;
  height: 200px;

}

.image-button img {
  position: center;
  width: 50%;
  height: 60%;
  border-radius: 10px;
  transition: transform 0.3s ease-in-out;
}
.button-text{
  margin-top: 5px;
  font-weight: bold;
  text-align: center;
}

.image-button:hover img {
  transform: scale(1.1);
}

.bottom-buttons {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}

.bottom-button {
  background-color: #133d3b;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out, transform 0.3s ease;
  box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.4);
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

.bottom-button:hover {
  background-color: #216661;
  box-shadow: 4px 6px 10px rgba(0, 0, 0, 0.6);
  transform: scale(1.05);
}
.image-button:hover {
  background-color: #216661;
  box-shadow: 4px 6px 10px rgba(0, 0, 0, 0.6);
  transform: scale(1.05);
}
