.notes-page-container {
  display: flex;
  height: 100vh; 
  width: 100%;
}

.notes-body { 
  flex: 1;  
  background-color: #afdcd5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #afdcd5;
  padding: 20px;
  max-height: 100vh;
}

.notes-wrapper {
  display: flex;
  flex-direction: column;
  min-width: 80%;
  background-color: white;
  border-radius: 8px;
  height: 95vh;
}

.notes-header {
  display: flex;
  align-items: center;
  height: clamp(4rem, 5dvh, 1rem);
  justify-content: left;
  padding: 5px 5px 5px 15px;
  border-radius: 8px 8px 0 0;
  background-color: #133d3b;
  color: white;
  font-size: clamp(.9rem, 2vw, 1.1rem);
  flex-shrink: 0; 
}