.week-view {
    display: flex;
    width: 100%;
    background: white;
    height: auto;
    margin: 0 auto;
    border-radius: 0 0 8px 8px;
    padding: 15px;
    box-sizing: border-box;
}

.time-column {
    width: 60px;
    border-right: 1px solid #e0e0e0;
    font-size: 0.9rem;
    position: relative;
    z-index: 1;
}

.time-header {
    height: 60px;
    border-bottom: 1px solid #e0e0e0;
}

.time-slot {
    height: 60px;
    display: flex;
    align-items: flex-start; 
    justify-content: flex-end; 
    padding-right: 10px;
    
}


.days-grid {
    flex: 1;
    display: flex;
    flex-direction: column;
    min-width: 0;
}

.days-header {
    height: 60px;
    display: flex;
    border-bottom: 1px solid #e0e0e0;
    min-width: 0;
}

.day-header {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-right: 1px solid #e0e0e0;
    padding: 4px 0;
}

.weekday {
    font-size: 0.7rem;
    font-weight: 500;
    text-align: center;
    width: 100%;
    line-height: 1;
}

.date {
    font-size: 1.3rem;
    margin-top: 2px;
    text-align: center;
    width: 34px;
    height: 34px;
    display: flex;
    align-items: center;
    justify-content: center;
    aspect-ratio: 1;
    box-sizing: border-box;
}

.day-header.current .date {
    background-color: #143d3a;
    font-weight: bold;
    color: white;
    border-radius: 50%;
}

.time-grid {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.grid-row {
    display: flex;
    height: 60px;
}

.grid-cell {
    flex: 1;
    border-right: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
}